
.NewPassword-form{
    display:flex;
    align-items:center;
    flex-direction:column;
    box-shadow: inset 0.5px 0.5px 1rem rgb(122, 146, 168);
    font-size: 3vmin;
    letter-spacing:0.3vmin;
    padding:2vmin 3vmin;
    background-color:white;
    transform: translateY(-100%);
    transition:transform 0.3s ease-in-out;
}
.NewPassword-form.active{
    transform: translateY(0);
}

.NewPassword-form-input-wrapper{
    position:relative;
    margin-bottom: 6vmin;
}
.NewPassword-form-input-wrapper img{
    position:absolute;
    width:3vmin;
    top:50%;
    transform:translateY(-50%);
    left:1vmin;
}

.NewPassword-form h1{
    font-size: 5vmin;
    letter-spacing: 0.3vmin;
    margin-bottom:5vmin;
    font-family: 'Lora', serif;
}

.NewPassword-form-input-minLength{
    position :absolute;
    font-size: 2vmin;
    bottom:-2.5vmin;
    left: 2vmin;
    color:red;
}
.NewPassword-placeholder{
    position:absolute;
    top:50%;
    left:5vmin;
    transform:translateY(-50%);
    font-size: 3vmin;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: 'Montserrat', sans-serif;
}
.NewPassword-form-input-wrapper input{
    width:50vmin;
    height: 5vmin;
    outline: none;
    border-radius: 0.8rem;
    background-color:transparent;
    cursor: pointer;
    padding-left:4vmin;
    border:1px solid grey;
    letter-spacing: 0.3vmin;
}
.NewPassword-form-input-wrapper input.activeError{
    background-color: rgb(235, 137, 137);
}
.NewPassword-form-input-wrapper input:focus{
  border:1px solid blue;
}

.NewPassword-form-input-wrapper input:focus + span,
.NewPassword-form-input-wrapper input:not(:placeholder-shown) + span{
    font-size: 2vmin;
    opacity: 1;
    transform:translate(-2vmin, -6vmin);
}

.NewPassword-form-submit{
    font-size: 3vmin;
    background-color: #404040;
    color:white;
    padding:1vmin 2vmin;
    outline:none;
    border:none;
    border-radius: 0.6rem;
    font-style: italic;
    box-shadow: inset 1px 1px 1rem rgba(146, 146, 146, 0.925);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.error-message{
    width:fit-content;
    background-color: rgb(235, 137, 137);
    color:rgb(77, 68, 68);
    font-size:3vmin;
    letter-spacing: 0.3vmin;
    padding:1vmin 2vmin;
    border-radius: 0.5rem;
    margin-bottom: 1vmin;
}

.response-red{
    width:fit-content;
    background-color: rgb(235, 137, 137);
    font-size:3vmin;
    letter-spacing: 0.3vmin;
    padding:1vmin 2vmin;
    border-radius: 0.5rem;
    margin: 2vmin auto;
}

