.ResetPassword{
    height:92vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.ResetPassword-wrapper{
    display:flex;
    align-items:center;
    flex-direction:column;
    box-shadow: inset 0.5px 0.5px 1rem rgb(122, 146, 168);
    font-size: 3vmin;
    letter-spacing:0.3vmin;
    padding:2vmin 3vmin;
    background-color:white;
}


.ResetPassword h1{
    font-family: 'Lora', serif;
    margin-bottom: 2vmin;
}


.ResetPassword-input-wrapper{
    position:relative;
    margin:4vmin 0;
}
.ResetPassword-input-wrapper img{
    position:absolute;
    width:3vmin;
    top:50%;
    transform:translateY(-50%);
    left:1vmin;
}
.ResetPassword-placeholder{
    position:absolute;
    top:50%;
    left:5vmin;
    transform:translateY(-50%);
    font-size: 3vmin;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: 'Montserrat', sans-serif;
}

.ResetPassword-password-min-length{
    position :absolute;
    font-size: 2vmin;
    bottom:-2.5vmin;
    left: 2vmin;
    color:red;
}

.ResetPassword-input-wrapper input{
    width:50vmin;
    height: 5vmin;
    outline: none;
    border-radius: 0.8rem;
    background-color:transparent;
    cursor: pointer;
    padding-left:4vmin;
    border:1px solid grey;
    letter-spacing: 0.3vmin;   
}

.ResetPassword-input-wrapper input:focus + span,
.ResetPassword-input-wrapper input:not(:placeholder-shown) + span{
    font-size: 2vmin;
    opacity: 1;
    transform:translate(-2vmin, -6vmin);
}

.ResetPassword-input-wrapper input:focus,
.ResetPassword-input-wrapper input:not(:placeholder-shown){
    border:1px solid blue;
}

.ResetPassword-submit{
    font-size: 3vmin;
    background-color: #404040;
    color:white;
    padding:1vmin 2vmin;
    outline:none;
    border:none;
    border-radius: 0.6rem;
    font-style: italic;
    box-shadow: inset 1px 1px 1rem rgba(146, 146, 146, 0.925);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.response-red{
    width:fit-content;
    background-color: rgb(235, 137, 137);
    font-size:3vmin;
    letter-spacing: 0.3vmin;
    padding:1vmin 2vmin;
    border-radius: 0.5rem;
    margin: 2vmin auto;
}

