.ForgotPassword{
    height:92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}

.ForgotPassword-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow: inset 0.5px 0.5px 1rem rgb(122, 146, 168);
    font-size: 3vmin;
    letter-spacing:0.3vmin;
    padding:2vmin 3vmin;
    background-color:white;
}

.ForgotPassword-form h1{
    font-family: 'Lora', serif;
    margin-bottom: 2vmin;
}

.ForgotPassword-input-wrapper{
    position:relative;
    margin:6vmin 0;
}

.ForgotPassword-input-wrapper img{
    position:absolute;
    width:3vmin;
    top:50%;
    transform:translateY(-50%);
    left:1vmin;
}
.ForgotPassword-input-wrapper span{
    position:absolute;
    top:50%;
    left:5vmin;
    transform:translateY(-50%);
    font-size: 3vmin;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: 'Montserrat', sans-serif;
}

.ForgotPassword-input-wrapper input{
    width:50vmin;
    height: 5vmin;
    outline: none;
    border-radius: 0.8rem;
    background-color:transparent;
    cursor: pointer;
    padding-left:4vmin;
    border:1px solid grey;
    letter-spacing: 0.3vmin;
}

.ForgotPassword-input-wrapper input:focus + span,
.ForgotPassword-input-wrapper input:not(:placeholder-shown) + span{
    font-size: 2vmin;
    opacity: 1;
    transform:translate(-2vmin, -6vmin);
}

.ForgotPassword-input-wrapper input:focus,
.ForgotPassword-input-wrapper input:not(:placeholder-shown){
    border:1px solid blue;
}
.ForgotPassword a{
    text-decoration:none;
    font-size: 3vmin;
    margin:2vmin 0;
    color:#657888;
}

.ForgotPassword-submit{
    font-size: 3vmin;
    background-color: #404040;
    color:white;
    padding:1vmin 2vmin;
    outline:none;
    border:none;
    border-radius: 0.6rem;
    font-style: italic;
    box-shadow: inset 1px 1px 1rem rgba(146, 146, 146, 0.925);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.ForgotPassword-red{
    background-color:rgb(238, 153, 153);
    width:fit-content;
    color:rgb(77, 68, 68);
    font-size:3vmin;
    letter-spacing: 0.3vmin;
    padding:1vmin 2vmin;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.ForgotPassword-green{
    background-color:#7eca9c;
    width:fit-content;
    color:rgb(77, 68, 68);
    font-size:3vmin;
    letter-spacing: 0.3vmin;
    padding:1vmin 2vmin;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
